{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">
        <h2>{{ 'category'|trans|capitalize }}</h2>
        <div class="container text-start">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <div class="mb-3">
                        <h3>{{ 'name'|trans|capitalize }}</h3>
                        <span>{{ category is defined ? category.name : '' }}"</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <h3>{{ 'priority'|trans|capitalize }}</h3>
                        <span>{{ category is defined ? category.priority : 0 }}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>{{ 'author'|trans|capitalize }}</h3>
                {% include 'author/table_list.html.twig' with {'hasCrudAction':false} %}
            </div>


            <div class="div-buttons">
                <a href="{{ path('app.category.index') }}" class="btn btn-bibliotech">{{ 'back'|trans|capitalize }}</a>
            </div>
        </div>
    </div>
{% endblock %}