{% extends 'base.html.twig' %}
{% block main %}
    <div class="text-center pt-5 pb-5">

        <h2>{{ 'books'|trans|capitalize }}</h2>

        <div>
            <form method="post" class="text-end row">
                <div class="col-lg-3">
                    <input name="search_term_title" class="form-control input_search" type="text" placeholder="{{ 'search by title'|trans|capitalize }}" value="{{ term_title }}" >
                </div>
                <div class="col-lg-3">
                    <select id="authorSelect" name="search_term_author" class="form-select select_search" aria-label="Autor">
                        <option value="0">{{ 'select author'|trans|capitalize }}</option>
                        {% for author in authors %}
                            <option value="{{ author.id }}" {% if book is defined %} {% if book.getAuthor() %} {{ book.getAuthor().id == author.id ? 'selected' : '' }} {% endif %} {% endif %}>{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <select id="editorialSelect" name="search_term_editorial" class="form-select select_search" aria-label="Editorial">
                        <option value="0">{{ 'select editorial'|trans|capitalize }}</option>
                        {% for editorial in editorials %}
                            <option value="{{ editorial.id }}" {% if book is defined %} {% if book.getEditorial() %} {{ book.getEditorial().id == editorial.id ? 'selected' : '' }}{% endif %}{% endif %}>{{ editorial.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3">
                    <select id="categorySelect" name="search_term_category" class="form-select select_search" aria-label="Categoría">
                        <option value="0">{{ 'select category'|trans|capitalize }}</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if book is defined %} {% if book.getCategory() %} {{ book.getCategory().id == category.id ? 'selected' : '' }}{% endif %}{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-12"><br></div>
                <div class="col-lg-12 text-center">
                    <button class="btn btn-bibliotech d-inline-block btn-bibliotech-search" type="submit">{{ 'search'|trans|capitalize }}</button>
                </div>
                <div class="col-lg-12"><br></div>
            </form>
        </div>

        <table class="table table-striped mt-3">
            <thead class="table-dark">
            <th>#</th>
            <th class="text-start">{{ 'title'|trans|capitalize }}</th>
            <th class="text-start">{{ 'author'|trans|capitalize }}</th>
            <th class="text-start">{{ 'editorial'|trans|capitalize }}</th>
            <th class="text-start">{{ 'category'|trans|capitalize }}</th>
            <th class="text-end">{{ 'stock'|trans|capitalize }}</th>
            <th class="text-end">{{ 'priority'|trans|capitalize }}</th>
            <th class="text-end">{{ 'actions'|trans|capitalize }}</th>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td class="text-start">{{ book.title }}</td>
                    <td class="text-start">{% if book.author %}{{ book.author.name }}{% endif %}</td>
                    <td class="text-start">{% if book.editorial %}{{ book.editorial.name }}{% endif %}</td>
                    <td class="text-start">{% if book.category %}{{ book.category.name }}{% endif %}</td>
                    <td class="text-end">{{ book.stock }}</td>
                    <td class="text-end">{{ book.priority }}</td>
                    <td class="text-end">
                        <a href="{{ path('app.book.view', {     'id': book.id }) }}" class="action-button me-2"><i class="fas fa-eye"></i></a>
                        <a href="{{ path('app.book.remove', {   'id': book.id }) }}" class="action-button me-2"><i class="fas fa-trash-alt"></i></a>
                        <a href="{{ path('app.book.edit', {     'id': book.id }) }}" class="action-button me-2"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="div-buttons">
            <a href="{{ path('app.book.create') }}" class="btn btn-bibliotech btn-create">{{ 'create'|trans|capitalize }}</a>
        </div>

        {% include 'partials/_msg.html.twig' %}

    </div>
{% endblock %}